

<link href="/css/preload-ymple.css" rel="stylesheet">

<!-- Compiled in vendors.js -->
<!--
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/bootstrap-switch.min.css" rel="stylesheet">
<link href="/css/font-awesome.min.css" rel="stylesheet">
<link href="/css/animate.min.css" rel="stylesheet">
<link href="/css/slidebars.min.css" rel="stylesheet">
<link href="/css/lightbox.css" rel="stylesheet">
<link href="/css/jquery.bxslider.css" rel="stylesheet" />
<link href="/css/buttons.css" rel="stylesheet">
-->

<!--link href="/css/vendors-ymple.css" rel="stylesheet"-->
<link href="/css/syntaxhighlighter/shCore.css" rel="stylesheet" >

<link href="/css/style-blue-ymple.css" rel="stylesheet" title="default">
<link href="/css/width-full-ymple.css" rel="stylesheet" title="default">


<br>




<div class="container">
    <div class="row">







        <%- include item.ejs %>
    </div>
</div> <!-- container -->



<link href="/css/preload-ymple.css" rel="stylesheet">

<!-- Compiled in vendors.js -->
<!--
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/bootstrap-switch.min.css" rel="stylesheet">
<link href="/css/font-awesome.min.css" rel="stylesheet">
<link href="/css/animate.min.css" rel="stylesheet">
<link href="/css/slidebars.min.css" rel="stylesheet">
<link href="/css/lightbox.css" rel="stylesheet">
<link href="/css/jquery.bxslider.css" rel="stylesheet" />
<link href="/css/buttons.css" rel="stylesheet">
-->

<link href="/css/vendors-ymple.css" rel="stylesheet">

<script src="/js/vendors-ymple.js"></script>

<!--script src="/js/styleswitcher-ymple.js"></script-->

<!-- Syntaxhighlighter -->
<script src="/js/syntaxhighlighter/shCore.js"></script>
<script src="/js/syntaxhighlighter/shBrushXml.js"></script>
<script src="/js/syntaxhighlighter/shBrushJScript.js"></script>

<script src="/js/app-ymple.js"></script>
<script src="/js/commerce-ymple.js"></script>

